.idea
!.idea/externalDependencies.xml
!.idea/palantir-java-format.xml

.DS_Store

target/
release.properties
buildNumber.properties
.project
.classpath
jdbc-driver/src/main/resources/config/config.properties
build

*.iml
.codegenie

.vscode
.gradle
.hyper
.kotlin
bin
out